body {
    font-family: 'open sans', helvetica, arial, sans;
}

.log-form form {
    display: block;
    width: 100%;
    padding: 2em;
}

.log-form h2 {
    color: #87CEEB;
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background: #808080;
    width: 100%;
    text-transform: uppercase;
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
    border: 1px solid #1d1d1d;
    margin: 0;
    font-weight: 200;
}

.log-form input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
}

.log-form .btn {
    display: inline-block;
    background: #1fb5bf;
    border: 1px solid #1ba0a9;
    padding: 0.5em 2em;
    color: white;
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

    .log-form .btn:hover {
        background: #23cad5;
    }

    .log-form .btn:active {
        background: #1fb5bf;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    }

    .log-form .btn:focus {
        outline: none;
    }

.log-form .forgot {
    color: #33d3de;
    line-height: 0.5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    float: right;
}

    .log-form .forgot:hover {
        color: #1ba0a9;
    }
